<div class="row">
  <div class="col-md-4">
    <h3>Activation Required</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="<%= @url %>" class="btn btn-primary">Activate Here</a>
  </div>
</div>
