<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'email' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <hr />
      <div class="row">
        <div class="col-md-4 ml-auto">
          <h3>From app</h3>
        </div>
      </div>
    </div>
  </body>
</html>
